<ion-header no-border>
  <ion-toolbar color="micolor" mode="md">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="h1-prop" style="color:black">Alumno</h1>
  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    
    <ion-list>
      
      <ion-item>
        <ion-label position="floating">Correo institucional</ion-label>
        <ion-input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="usuario.email" required></ion-input>
        
         
        
      </ion-item>

      

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
        
         
        
      </ion-item>
    </ion-list>

    <ion-button class="top-20" type="submit" color="light" expand="full" mode="md" [disabled]="formulario.invalid" [routerLink]="['/inicio-alu']">
      Iniciar sesión
    </ion-button>

  </form>
  
</ion-content>

