<ion-header no-border>
  <ion-toolbar color="micolor" mode="ios">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="light">
  
  <br>
  <ion-img [src]="img || '../../../assets/img/duoc.png'"></ion-img>
  <br>
  <ion-text color="light" class="ion-text-center"><h1><b>¡Bienvenido!</b></h1></ion-text>

  <ion-button [routerLink]="['/inicio-sesion']" class="top-20" color="light" expand="full" mode="md">
    Docente
  </ion-button>

  <ion-button [routerLink]="['/inicio-sesion-alu']" class="top-20" color="light" expand="full" mode="md">
    Alumno
  </ion-button>

</ion-content>
