<ion-header>
  <ion-toolbar color="tertiary">
   <ion-title color="light">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-img [src]="img || '../../../assets/img/horario.jpg'"></ion-img>

  <ion-button class="top-20" type="submit" color="tertiary" expand="full" mode="md" disabled>
    Escanear QR
  </ion-button>

  <ion-button class="top-20" type="submit" color="tertiary" expand="full" mode="md" [routerLink]="['/como-funciona']">
    ¿Cómo funciona?
  </ion-button>

  <ion-button class="top-10" type="submit" color="tertiary" expand="full" mode="md" [routerLink]="['/login']">
    Cerrar sesión
  </ion-button>

</ion-content>
