<ion-header>
  <ion-toolbar color="micolor">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text=""
        color="dark"
        mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>¿Cómo funciona?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="light">
    <p>
      Para comenzar, deberás generar el código QR desde la página de Inicio, luego...
    </p>
  </ion-text>

  <ion-img [src]="img || '../../../assets/img/duoc.png'"></ion-img>

</ion-content>
